---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Video from '../components/Video.astro'
import Intro from '../components/Intro.astro'
import Footer from '../components/Footer.astro'
import CV from '../components/CV/CV.astro';
import Contacto from "../components/Contacto.astro"
import Investigacion from '../components/Investigacion.astro';

---

<Layout
 title="Dr Jose M Athie"
 description="Médico antestesiólogo, director del Hospital Ángeles Mocel y práctica en los principales hospitales privados de la Ciudad de México"
 >
 <Video />
	<main>
		<Intro />
		<Investigacion />
		<Contacto />
		<CV />
	</main>

</Layout>

<style>
	
</style>