---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro'
import Intro from '../components/Intro.astro'
import CV from '../components/CV/CV.astro';
import Contacto from '../components/Contacto.jsx'
import Publications from '../components/Publications.jsx';

---

<Layout
 title="Dr Jose M Athie"
 description="Médico antestesiólogo, director del Hospital Ángeles Mocel y práctica en los principales hospitales privados de la Ciudad de México"
 >
 <Video />
	<main class="z-0">
		<Intro />
		<Publications client:load />
		<Contacto client:load />
		<CV />
	</main>

</Layout>

<style>
	
</style>