---
import Logo from "./Logo.astro"
---
<section id="Intro" class="top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] text-[#151a36]">
    <Logo alt="logo Dr Athie" class="w-16 mb-10 text-center m-auto pt-10" />
<span class="grid md:grid-cols-2">

    <h1 class="md:text-4xl text-lg font-semibold text-left text-wrap mx-20 mb-10 tracking-wide py-4 pt-10">
        {"El Doctor José Manuel Athié García es un médico anestesiólogo con más de 35 años de experiencia profesional con interés primordial en técnicas de anestesia regional, procedimientros de Ortopedia, manejo avanzando de la vía aérea difícil y técnicas de bloqueo guiados por ultrasonido."}
    </h1>
    <img src="/DrAthie.jpeg" alt="Dr Jose Manuel Athié en el quirofano del Hospital Angeles Mocel" class="w-auto h-80 pt-10">

</span>

</section>

<div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>